@model Vidly.ViewModels.CustomerFormViewModel

@{
    ViewData["Title"] = "New";
}

<h2>New Customer</h2>

<form asp-controller="Customers" asp-action="Save" method="post">

    <div class="form-group">
        <label asp-for="@Model.Customer.Name"></label>
        <input type="text" class="form-control" asp-for="@Model.Customer.Name" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Customer.Birthdate">Date of Birth</label>
        <input type="text" class="form-control" asp-for="@Model.Customer.Birthdate" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Customer.MembershipTypeId">Membership Type</label>
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Memebership Type", new { @class = "form-group" })
    </div>
    <div class="checkbox">
        <input type="checkbox" asp-for="@Model.Customer.IsSubsctibedToNewsLetter" />
        <label asp-for="@Model.Customer.IsSubsctibedToNewsLetter"> Subscribe to Newsletter?</label>
    </div>

    @Html.HiddenFor(m => m.Customer.Id)
    <button type="submit" class="btn btn-primary">Save</button>

</form>